/**
* Application specific css should be written here.
**/
html
{
    padding:0;
    margin: 0;
}
body
{
    text-align: center;
    margin: 0 auto;
    padding: 0;
}
div#app-banner
{
    color: #45540D;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}

h1#app-slogan
{
    color: #F1F3F5;
    font-size: 80px;
    font-weight: normal;
    padding: 100px 0 35px;
    text-align: center;
    text-shadow: 0 1px 3px #7F7D7E;
    margin: 10px 0;
}
.banner-height
{
    min-height: 490px;
}
.banner-background
{
    margin: 0;
    padding: 0;
    background-image: url("../img/banner_bg.png");
    background-repeat: repeat;
}

.navbar-brand
{
    background: url("../img/logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 37px;
    width: 210px;
}

.container
{
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
}

.portfolio1-background, .portfolio2-background, .portfolio3-background
{
    background: none repeat scroll 0 0 #3288C2;
}
